<div class="jumbotron">
 <p><h1> new project </h1></p>
<p><form class="navbar-form navbar-left" ng-submit="submit()">
 <p> <div class="form-group">
    <input ng-model="project.title" type="text" class="form-control" placeholder="title">
    </input>
    <input ng-model="project.description" type="text" class="form-control" placeholder="description">
    </input>
    <input ng-model="project.updated" type="text" class="form-control" placeholder="updated">
    </input>
    </div></p>
  
  <button type="submit" class="btn btn-default" id="submit" value="Add">Add</button>
</form>
 </p>  
</div>
