<div class="jumbotron">
 <p><h1> new user Task </h1></p>
<p><form class="navbar-form navbar-left" role="search">
  <p>  <input type="text" class="form-control" ng-model="task.title" placeholder="title">
    </input></p>
    <p> <input type="text" class="form-control" ng-model="task.descrption" placeholder="description">
    </input></p>
    <p><input type="text" class="form-control"
 ng-model="task.userStory" placeholder="user Story">
    </input></p>
    <input type="text" class="form-control" ng-model="task.number" placeholder="number">
    </input>
    <input type="text" class="form-control" ng-model="task.dependancies" placeholder="dependancies">
    </input>
    <input type="text" class="form-control" ng-model="task.difficulty" placeholder="difficulty">
    </input>
    <input type="text" class="form-control" ng-model="task.cost" placeholder="cost">
    </input>
  
    <input type="text" class="form-control" ng-model="task.developper" placeholder="developper">
    </input>
    <input type="text" class="form-control" ng-model="task.closed" placeholder="cost">
    </input>
    <label> closed: <input type="checkbox" class="form-control" ng-model="task.closed" placeholder="closed">
    </label></br>
  <button type="submit" class="btn btn-default">Add</button>
</form>
 </p>  
</div>