<div class="jumbotron">
 <p><h1> new user story </h1></p>
<p><form class="navbar-form navbar-left" role="search">
  <p>  <input type="text" class="form-control" ng-model="userStory.title" placeholder="title">
    </input></p>
    <p> <input type="text" class="form-control" ng-model="userStory.descrption" placeholder="description">
    </input></p>
    <p><input type="text" class="form-control" ng-model="userStory.state" placeholder="state">
    </input></p>
    <input type="text" class="form-control" ng-model="userStory.project" placeholder="project">
    </input>
    <input type="text" class="form-control" ng-model="userStory.number" placeholder="number">
    </input>
    <input type="text" class="form-control" ng-model="userStory.priority" placeholder="priority">
    </input>
    <input type="text" class="form-control" ng-model="userStory.difficulty" placeholder="difficulty">
    </input>
    <input type="text" class="form-control" ng-model="userStory.updated" placeholder="updated">
    </input>
  
  <button type="submit" class="btn btn-default">Add</button>
</form>
 </p>  
</div>
