<div>
<h1>View of all sprints</h1>
</div>
<div layout="column" layout-fill style="padding-bottom: 32px;">
  <md-whiteframe class="md-whiteframe-z1">
    <table style="width:100%">
      <thead>
        <tr>
          <th>Titre</th>
          </tr>
      </thead>
      <tbody>
        <tr ng-repeat="sprint in sprints track by project._id">
          <td>{{sprint.title}}</td>
          <td>{{sprint.description}}</td>
          <td>{{sprint.update}}</td>
          
        </tr>
        <tbody>
    </table>
  </md-whiteframe>
</div>
